body{ 
	background-color: #ececec;
	/*font-family: sans-serif;*/
}

body > section {
	display: inline-block;
    width: 100%;
    padding: 0 0 0 10px;
}

header > main {
	text-align: center;
	height: 50px;
}

header > main > figure ,header > main > h1 {
	float: left;
	margin: 0 0 0 4%;
	height: auto
	
}

header > main > figure > img {
	width:50px;
	height:50px;
}

textarea {
	resize: none;
	overflow: scroll;
}

#areaCodigo {
	position: relative;
	float: left;
	width: 50%;
}

#areaCodigo > aside {
	overflow: hidden;
	padding-top: 2px;
	position: absolute;
    top: 24px;
    left: 16px;
    width: 30px;
    height: 410px;
}

#areaCodigo > aside > p {
	text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
}

#areaCodigo > form  > fieldset > textarea {
	width: 100%;
	height: 410px;
	padding-left: 30px;
	font-size: 12px;
    line-height: 16px;
}

#bienvenida {
	position: absolute;
	margin-left: 51%;
	width: 47%;
}

#bienvenida > span {
	font-size: 45px;
}

 #areaCodigosEjemplos{
	position: absolute;
	margin-left: 51%;
	width: 47%;
}
#areaCodigosEjemplos > fieldset {
	width: 100%;
}

#areaCodigosEjemplos > fieldset > textarea {
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 16px;
}

#botones-prueba >input {
	display: block;
	margin-top: 10px;
    margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	box-shadow: 0 0 10px rgb(53, 167, 110);
}

#areaAnalisis ,#areaAnalisis > article > article{
	/*display: inline-block;*/
	float: left;
	width: 50%;
	height: 447px;
	padding: 0 10px;
	
}

#areaAnalisis > article > article > fieldset {
	width: 100%;
	height: 100%;
	padding: 6px 10px 28px 10px;
	
}

#areaAnalisis > article > article > fieldset > textarea {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 16px;
}

#botones1 > #analisisLexico-boton {
	float: left;
	margin-top: 20px;
	margin-left: 5%;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px solid #0016b0;
	box-shadow: 0 0 40px rgb(9, 10, 14);
	
}

#botones1 > #analisisLexico-boton:hover{
	opacity: 0.6;
	background-color: #1ab46c;
	color: #000000;
	box-shadow: 0 0 40px rgb(211, 231, 27);
  }

#botones2 > #analisisSintactico-boton {
	float: left;
	margin-top: 20px;
	margin-left: 18%;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
	border: 2px solid #0016b0;
	box-shadow: 0 0 40px rgb(9, 10, 14);
	
}

#botones2 > #analisisSintactico-boton:hover{
	opacity: 0.6;
	background-color: #19272e;
	color: rgb(185, 226, 35);
	box-shadow: 0 0 40px #03f;
  }

#botones3 {
	position:absolute;
	top: 50px;
	left: 45%;

}

.tabla-lexico2{
	height:120px;
	overflow-x:auto;
	margin-top: 0px;
	border: 1px solid rgba(255,255,255,0.3);
  }


#menuContainer {
	position: fixed;
	bottom: 0px;
	right:0px;
	width: 400px;
	height: 170px;
}
#menuContainer > #relativo {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
}
#menuContainer > #relativo > div{
	position: absolute;
	bottom: 0px;
	right:0px;	
}
#menuContainer > #relativo > .oPmenu{
	display: none;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	width: 175px;
	height: 65px;
	font-family: sans-serif;
	font-size: 14px;
	color: #ececec;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	-moz-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
}
#menuContainer > #relativo > .oPmenu:hover{
	-moz-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
}
#menuContainer  > #relativo > #overMenu{
	z-index: 10;
	height: 75px;
	width: 180px;
	padding: 14px;
	overflow: hidden;
}
#menuContainer  > #relativo > #overMenu > #menu {
	display: inline-block;
	width: 335px;
    height: 150px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
	-moz-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 5px rgba(68,68,68,0.6);
	-webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
}
#menuContainer  > #relativo > #overMenu > #menu:hover {
	-moz-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	-webkit-box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
	box-shadow: -5px -5px 25px rgba(68,68,68,0.6);
}

#menuContainer  > #relativo > #overMenu > #menu > p{
	margin: 25px 0 0 92px;
    font-size: 24px;
    font-weight: bold;
    color: #ececce;
    -webkit-transition: ease-in-out 0.1s; /* For Safari 3.1 to 6.0 */
  	transition: ease-in-out 0.1s;
    
}
#menuContainer  > #relativo > #overMenu > #menu:hover > p {
	font-size: 40px;
    margin: 18px 0 0 85px;
}
#menuContainer > #relativo > #t1{
	z-index: 9;
	top: 0; 
	right: 1px;
	padding: 15px;
	line-height: 17px;
}
#menuContainer > #relativo > #t2{
	z-index: 8;
	top: 41px;
	left: 72px; 
	padding: 15px;
	line-height: 34px;
}
#menuContainer > #relativo > #t3{
	z-index: 7;
	top: 104px; 
	left: 0;
	padding: 15px;
	line-height: 17px;
}

#slide1, #slide3{
	display: none;
}


table,
th,
td {
	border: 1px solid green;
	text-align: center;
	background-color: wheat;
	padding: 2px;
}

th {
	text-align: center;
	background-color: sienna;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
	#areaCodigo, #areaAnalisis {
		width: 100%;
	}
}
@media screen and (min-width: 600px) and (max-width: 930px) {
	#areaCodigo {
		width: 60%;
	}
	#areaAnalisis {
		width: 40%;
	}
	#areaAnalisis > article > article{
		width: 100%;
	}
}